{% extends 'base.html.twig' %}

{% block body %}

    <section class="faq-section">
        <div class="questions">
            <h1>Frequently Asked Questions <span class="emoji">🤔</span></h1>
            <h2 class="asked-questions">Who can post to game.scope?</h2>
            <p>
                Any new User
            </p>
            <h2>How do I change my name account or password?</h2>
            <p>No you can't for the moment </p>
            <h2>I found a bug. how can I reported?</h2>
            <p>
                You can go to about "pages" and report it <3
            </p>
            <h2>Do game.scope make money?</h2>
            <p>Not now for the moment</p>
            <h2>how I delete my account?</h2>
            <p>Contact our admin for the moment or wait for the update then you can delete or modifie your account</p>
            <h2>Where you get your articles resources? </h2>
            <p>From the internet "free sources" :)</p>
        </div>
    </section>

{% endblock %}

